body {
    background: url(../images/city.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#pic {
    border: 10px solid black;
    border-radius: 20px;
}

.center {
    margin: auto;
    width: 600px;
    border: 5px solid black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

#win-lose {
    margin: auto;
    width: 60%;
    margin-top: -10px;
    padding: 10px;
    text-align: center;
    font-style: italic;
}

#word {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    font-size: 48px;
}

#hangman {
    margin: auto;
    padding: 10px;
    margin-top: -10px;
    text-align: center;
}

#guesses {
    margin: auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    font-size: 24px;
}

#guesses-left {
    margin: auto;
    margin-top: -20px;
    padding: 10px;
    width: 50%;
    text-align: center;
    font-size: 24px;
}

#wins {
    margin: auto;
    margin-top: -20px;
    padding: 10px;
    width: 50%;
    text-align: center;
    font-size: 24px;
}

#reset {
    border: 2px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 10px;
    font-style: normal;
}

#reset:hover {
    background-color: black;
    color: lightgray;
    cursor: pointer;
}